@{
    ViewBag.Title = "Home Page";
}

@model Buttons.Models.Question.Get

<div class="jumbotron">
    <h1>@Model.Title</h1>


    <p class="lead">@Model.QuestionText</p>
</div>

<div class="row">

    @if (Model.Correct != null)
    {
        if (Model.Correct == true)
        {
            <h2>Correct</h2>
        }
        else
        {
            <h2>Wrong</h2>
        }
    }

    @if ((bool?)ViewData["IsLoggedIn"] == true)
    {
        using (Html.BeginForm())
        {

            @Html.HiddenFor(x => x.Id)
            <div class="form-group">
                @Html.LabelFor(x => x.Answer)
                @Html.TextBoxFor(x => x.Answer, new { @class = "form-control" })
            </div>
            <div class="btn-group">
                <input type="submit" value="Answer Question" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "Index", "Question", new { id = Model.Id }, new { @class = "btn btn-danger" })
            </div>
        }

        <p>
            @Html.ActionLink("Edit Question", "Upsert", new { id = Model.Id }, new { @class="btn btn-primary" })
        </p>
    }

</div>