@{
    ViewBag.Title = "Home Page";
}

@model Buttons.Models.Question.Get

<div class="jumbotron">
    <h1>@Model.Title</h1>

    
    <p class="lead">@Model.QuestionText.</p>
</div>

<div class="row">

    @*@foreach (var item in Model.Questions)
    {
        <div class="col-md-4">
            <h2>@item.Id</h2>
            <p>
                @item.Text
            </p>          
        </div>
    }*@
    
    @if (Model.Correct != null)
    {
         if (Model.Correct == true)
         {
            <h2>Correct</h2>
         }
         else
         {
            <h2>Wrong</h2>
         }
    }

    @using (Html.BeginForm())
    {

        @Html.HiddenFor(x => x.Id)

        @Html.LabelFor(x => x.Username)
        @Html.TextBoxFor(x => x.Username)

        @Html.LabelFor(x => x.Answer)
        @Html.TextBoxFor(x => x.Answer)

        <input type="submit" />
    }

</div>