@{
    ViewBag.Title = "Create";
}
@model Buttons.Models.Question.Upsert

<h2>@Model.Title</h2>


@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Id)

    <div>
        @Html.LabelFor(x => x.Title)
        @Html.TextBoxFor(x => x.Title)
    </div>

    <div>
        @Html.LabelFor(x => x.Text)
        @Html.TextAreaFor(x => x.Text)
    </div>

    <div>
        @Html.LabelFor(x => x.Answer)
        @Html.TextBoxFor(x => x.Answer)
    </div>

    <div class="btn-group" role="group">
        <input type="submit" value="Save Question" class="btn btn-primary" />
        @Html.ActionLink("Delete Question", "Delete", "Question", new { id = Model.Id }, new { @class = "btn btn-danger" })
    </div>
}


