@{
    ViewBag.Title = "Home Page";
}

@model Buttons.Models.Home.Index

<div class="jumbotron">
    <h1>Buttons</h1>

    <p class="lead">Buttons is a proof of concept application I have developed to practice Azure and MVC technologies. It a question and answer website with a few surprises, can you answer all @Html.ActionLink("the questions", "Index", "Question")?</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Questions</h2>
        <p>
            Interesting mathematical questions you may want to write an application to solve.
        </p>
        <p>@Html.ActionLink("Learn more", "Index", "Question", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>For Example</h2>
        <h4>@Model.MostRecentQuestion.Title</h4>
        <p>@Model.MostRecentQuestion.Text</p>
        <p>@Html.ActionLink("Do you think you can answer this question?", "Get", "Question", new { id = Model.MostRecentQuestion.Id }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Track Your Progress</h2>
        <p>Show off your problem solving!</p>
        <p>@Html.ActionLink("Learn more", "Index", "Question", new { @class = "btn btn-default" })</p>
    </div>
</div>